<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_method_institution.name %>
</p>

<%= link_to 'Edit', edit_payment_method_institution_path(@payment_method_institution) %> |
<%= link_to 'Back', payment_method_institutions_path %>
